<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/camera.png') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1 class="titulo-pagina">Flask Filmes Studio</h1>
        <nav class="menu-navegacao">
            <ul class="lista-endpoints">
                <li class="endpoints"><a href="/">Home</a></li>
                <li class="endpoints"><a href="/cadastrar">Cadastrar Filme</a></li>
                <li class="endpoints"><a href="/sobre">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="conteudo">
            <h2 class="titulo-apresentacao">Uma História de Flask Filmes Studio</h2>
            <div class="caixa-texto">
                <p class="paragrafo">Flask Filmes Studio (FFS) é um projeto sem fins lucrativos, a ideia é construir e 
                    compartilhar conhecimento. Baseado em outros serviços de streamer de sucesso, a FFS foi criada para
                    trazer diversão de uma forma que todos amam, assistindo filmes e séries. Trabalhamos sem o direito
                    de nenhum produto da plataforma, que fique bem claro.
                </p>
                <p class="paragrafo">FFF trás ao mercado uma proposta totalmente diferente das demais ao nixo, sem nenhum
                    dinheiro envolvido, ninguem ganha e nem perde, a ideia surgiu quando seu CEO <strong>Nickolas Alexandre
                    de Souza Santos</strong>, estava em seu quarto, coçando o saco e pensou, porque eu não crio um projeto,
                    assim surgiu a Flask Filmes Studio.
                </p>
                <p class="paragrafo">O slogan da empresa "Ninguem ganha e nem perde, nem seu nem meu", é baseado no fato 
                    de que, <strong>Não temos grana e nem direito a nada</strong>, e oque isso quer dizer? Examente,
                    ninguem vai receber por isso. Ta bom, e cade a desvantagem? o cliente também não recebe seus filmes hehe.
                    É baby, sem grana nada funciona. 
                </p>
                <p class="paragrafo">Então sim, o CEO não tem nada pra fazer da vida, e a FFS vai continuar existindo, pois,
                    não inflinge nenhum direito, e da mesma forma, não faz diferença porque ninguem sabe que ela existe. Até
                    o momento serve somente para praticar e passar o tempo, se por acaso você ler isso e achar legal, seja
                    o design (bem basico por sinal) do projeto, ou desse texto que estou perdendo tempo escrevendo, da uma
                    estrelinha ai.
                </p>
                <p class="paragrafo">Ultima atualização, pra não dizer que não utilizamos nada de ninguem, os creditos
                    do icon na guia do site é da Freepik. 
                    <a class="link-freepik" target="_blank" href="https://www.flaticon.com/br/icones-gratis/cinema" title="cinema ícones">Cinema ícones criados por Freepik - Flaticon</a>
                </p>
            </div>
        </section>
    </main>
</body>
</html>